:root {
  font-size: 18px;
  line-height: 180%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

*{
  box-sizing: border-box;
  font-size: 1.0em;
}

.main-header {
  height: 450px;
  background: #333
  url("https://static.pexels.com/photos/248515/pexels-photo-248515.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
  opacity: 0.8;
}

.content-wrapper {
  width: 100%;
  max-width: 1100px;
  min-width: 440px;
  margin: 0 auto;
  border: 3px solid red;
  padding-top: 100px;
  color: white;
}

li {
  width: 30%;
  height: 100%;
  display: inline-block;
  min-width: 170px;
}

img {
  width: 272px;
  height: 181px;
}

.bg-image {
  position: absolute;
  width: 100%;
  height: 450px;
  opacity: 0.6;
}

.main-info {
  width: 100%;
  height: 250px;
  margin: 0 auto;
  background-color: #EAEAEA;
  padding: 20px 0px 0px;
  
}

h1{
  font-size: 1.7em;
}
h2{
  padding: 24px 0px;
  margin: 0px;
  font-size: 1.2em;
  }

.cards-list {
  list-style: none;
  color: black;
  padding: 35px  17px 17px;
  width: 100%;
  padding: 10px 90px 10px;
  margin: 0px;
  background: #333;
}

.style-card {
  padding: 26px;
}

.kolon {
  background: white;
  width: auto;
  padding: 26px;
}

.style-list {
  padding:0px 30px 0px;
  margin: 10px 10px 30px;
}

.kontent-white {
  width: 100%;
  background: #EAEAEA;
  padding: 20px 100px 20px;
  margin: 0px;
}

.cards-end {
  display: inline-block;
  width: 50%;
  height: 312px;
  margin: 0px;
  border: 3px solid #73AD21;  
  background: #2690D4;
  color: white;
  padding:0px 40px 0px;
}

.cards-left {
  display: inline-block;
  width: 50%;
  height: 312px;
  margin: 0px;
  border: 3px solid #73AD21;  
  background: #333333;
  color: white;
  padding:0px 40px 0px;
}

.class-p {
  padding:10px 40px 0px;
}

.main-footer {
  width: 100%;
  padding: 20px 100px 20px;
  background: black;
  color: white;
  margin: 0px;
}

.footer {
  display: inline-block;
  width: 50%;
  margin: 0px;
  padding: 0px 40px 0px;
}

.footer-left {
  display: inline-block;
  width: 50%;
  margin: 0px;
  padding:0px 40px 0px;
}
